body {
    margin: 0;
    height: 100vh;
    overflow: hidden;
}
  
.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
  
.agenda {
    width: 850px;
    height: 400px;
    border: solid 2px;
    border-radius: 10px;
    box-shadow: 1px 111px 100px;
}

.Titulo > h4 {
    text-align: center;
}

.dias {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    margin-left: 25px;
    margin-right: 25px;
}
.dia  {
    margin: 10px;
    padding: 26px;
    background-color: rgb(126, 134, 147);
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 1px 1px 10px;
}

.Nota {
    margin: 10px;
    display: none;
}

.Nota > h4 {
    display : block;
}

.Nota > input {
    display : flex;
    flex-direction: column;
}

.Notas {
    display: none;
}

.anotaciones {
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.anotacion {
    display: flex;
    justify-content: space-between;
    width: 97%;
    cursor: pointer;
    margin: 5px;
    align-items: center;
}

.textoContainer {
    margin-left: 10px;
    align-items: center;
}

.texto {
    border-radius: 10px;
}

.inputComentario {
    border-radius: 10px;
}

.selected {
    background-color:rgb(126, 134, 147);
    width: 97%;
    align-items: center;
    border-radius: 10px;
    box-shadow: 1px 1px 5px;
}

.checkboxTextoDiv {
    display: flex;
    height: 100%;
    align-items: center;
    text-align: center;
}

.importante {
    margin-right: 10px;;
}

.botones {
    display: flex;
    justify-content: center;
}

.añadir, .eliminar, .eliminarTodas, .editar, .botonImportante, .botonComentario {
    cursor: pointer;
    margin: 5px;
    border-radius: 5px;
    padding: 5px;
}

.BotonesFuera {
    margin-top: 20px;
}

.doneButton {
    display : none;
    cursor: pointer;
    border-radius: 5px;
    margin: 3.5px;
}

.aviso {
    margin-top: 5px;
}